/* style.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0;
    padding: 0;
}
.three h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}
.three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}
.three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
}
  
/* News section styles */
#newsType {
    margin-top: 20px;
}

#newsdetails {
    margin: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
}
img{
    float: left;
    padding-right: 20px;
}
.p-2{
    padding-bottom:10px ;
    padding-right: 10px ;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
/* Footer styles */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* CodeLogic branding */
h5.text-white {
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.text-warning {
    color: #ffc107;
}
